---
---

@import "{{ site.theme }}";


@font-face {
    font-family: "EDPPUA";
    src: url("/assets/fonts/EDPPUA.woff2");
}
@font-face {
    font-family: "Impact";
    src: url("/assets/fonts/Impact.ttf");
}
@font-face {
    font-family: "Comic Sans MS";
    src: url("/assets/fonts/Comic_Sans_MS.ttf");
}
@font-face {
    font-family: "Z003";
    src: url("/assets/fonts/Z003-MediumItalic.otf");
}

/* latin-ext */
@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pirataone/v23/I_urMpiDvgLdLh0fAtofhiGOrq_B.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pirataone/v23/I_urMpiDvgLdLh0fAtofhi-Org.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Rationale';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rationale/v30/9XUnlJ92n0_JFxHIfHcccVtN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/permanentmarker/v16/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cfw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Qwigley';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/qwigley/v20/1cXzaU3UGJb5tGoCiVtmig.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.lyric {
    font-family: Z003, cursive;
}
.bible {
    font-family: 'Pirata One', Georgia, 'Times New Roman', Times, serif;
}
.mormon {
  font-family: 'Comic Sans MS', 'Comic Sans', 'Brush Script MT', sans-serif;
}
.jc {
    color: red;
}
.ek {
  color: forestgreen;
}
.scifi {
    font-family: Rationale;
}
.lit {
  font-family: serif;
}
.scrawl {
  font-family: 'Permanent Marker', 'Comic Sans MS', 'Comic Sans', 'Brush Script MT', sans-serif;
}
.meme {
  font-family: 'Impact', 'Tahoma', sans-serif;
}
body {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, "EDPPUA", sans-serif;
}